@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Just Another Hand', cursive;
}

body {
    background-image: url("blue.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* Use minimum height to cover the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    background: #FFF6F6;
    max-width: 90%; /* Adjust the maximum width as needed */
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.quote-box h2 {
    font-size: 30px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(249, 27, 123);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.quote-box blockquote {
    font-size: 20px; /* Adjust the font size as needed */
    min-height: auto; /* Remove min-height for better responsiveness */
}

.quote-box span {
    font-size: 14px; /* Adjust the font size as needed */
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(249, 27, 123);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 20px; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
}

.quote-box button {
    font-size: 18px; /* Adjust the font size as needed */
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin: 5px;
}




